<nav class="navbar navbar-expand-sm bg-green navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" routerLink="">ABC ACademy</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="newCourses">New courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reviews">Reviews</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="offices">our offices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="offers">offers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="virtualClasses">Virtual classes</a>
    </li>
  </ul>
</nav>